
@import 'variables.scss';
@import 'animation.scss';
@import 'mixins.scss';

*{
    background: none;
    // z-index: 1;
}

.fixedMedia .links{
    display: flex;
    visibility: hidden;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 11rem;
    left: 0.7rem;
    gap: 0.6rem;
    cursor: pointer;

    @include breakpoint-up (large){
        animation: 1s fade-in ease-in-out forwards ;
    }

    &::after{
        content: "";
        position: absolute;
        // writing-mode: tb;
        width: 1px;
        height: 10.5rem;
        background-color: $blue;
        bottom: -11rem;
    }
       
}


.home .content .links, .footer .links, .mobileNavBar .links{
    display: flex;
    position: relative;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    gap: 1.7rem;
    cursor: pointer;
    
}

li{
    border-bottom: 1px solid $blue;
   &:hover{
       transform: translateY(-3px) scale(1.1);
       transition: transform 400ms ease-in-out;
   }
   a{
   
   }
       svg{
           width: 1.4rem;
           height: 1.4rem;
           &:hover{
               color: $blue;
           }
   }
}

.home .content .links{
  @include breakpoint-down(large){
        margin:1.4rem 0 0 ;
        animation: 1s fade-in ease-in-out forwards ;

    }
} //Home

.footer .links {
        animation: 1s fade-in ease-in-out forwards ;
        margin:0 0 1.5rem;
}

.mobileNavBar .links{
    animation: 1s fade-in ease-in-out forwards ;
        display: inherit;
}