@import "variables";
@import "animation";
@import "mixins";

*{
    background: none;
}

#Ps{
    display: block;
    color: $pink;
}
@include breakpoint-up (small) {

.project{
    border: 1px solid;
    margin-bottom: 2rem;
    border-radius: $border-radius;
.img{
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;

img{
    display: block;
    width:100%;
    height: 15rem;
    border-radius: $border-radius;

    @include breakpoint-up(x-small){
        height: 25rem;
    }
    @include breakpoint-up(large){
        height: 28rem;
    }
    @include breakpoint-up(x-large){
        height: 35rem;
    }
}// End img

.content{

    visibility: visible;
    opacity: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, .27);
    backdrop-filter: blur(7px);
    width: inherit;
    height: inherit;
    border-radius: $border-radius;

    .img-href{
        text-decoration: none;
        position: absolute;
        border-radius: $border-radius;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        

        h1{
            font-family: $font-sans;
            color: $dark-navy;
            font-weight: 700;            
        }

        .description{
            font-size: $fz-md;
            font-weight: 600;
            margin-top: 1rem;
            // border: 1px solid $navy;
            // border-radius: $border-radius;
            padding: 1.2rem;
            p{
                text-align: center;
                color: $navy;
            }
            .project-footer{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

            .links{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                
                a{
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;
                    color: $dark-slate;
                    border: 1px solid $dark-slate;
                    border-radius: 5px;
                    padding: 0.5rem;
                    background: $green-tint;
                    &:hover{
                        stroke: $green;
                        color: $green;
                        transform: translateY(-5px);
                        transition: transform 600ms ease-in-out;
                        border: 1px solid $green;
                        background: none;
                        svg{
                        stroke: $green;
                            
                        }
                    }

                svg{
                    stroke: $dark-slate;
                    width: 1.2rem;
                    height: 1.2rem;
                    
                }
                .linkContent{
                    color: inherit;
                }

                }
            }
                
            }
            
        }
    }

    &:hover{
        animation: 550ms fade-in ease-in-out forwards ;
    }
} //content


} //image class
} //end project

} //include breakup small



@include breakpoint-down (small) {


.project{
    position: relative;
    margin-top: 2.5rem;
    border: 1px solid $green;
    border-radius: $border-radius;

    a{
        text-decoration: none;
    }
    img{
        display: block;
        width:100%;
        height: 15rem;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;

        @include breakpoint-up(x-small){
            height: 20rem;
        }
    }// End img

    
    .content{ 
        visibility: visible;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        margin-left: 1rem;
        .img-href{

        }

        h1{
            font-size: $fz-md;
            color: $blue;
            text-align: center;
            font-weight: 300;
            margin-top: 1rem;
            
        }
        .description{
            
            p{
                font-size: $fz-sm;
                color: $light-slate;
                letter-spacing: 0;
                font-weight: 400;
                margin: 0.5rem 0 ;
            }

        }

        .project-footer{
            display: flex;
            flex-direction: column;
            justify-content:space-between;
            align-items: stretch;
            flex-wrap: wrap;
            margin: 0 0.5rem 0.7rem 0.5rem;
            
            @include breakpoint-up(x-small){
                justify-content:center;
                margin: 0 1rem 1rem 1rem;
            }

            // @include breakpoint-up(large){
            //     flex-direction: row;
            //     margin: 0 1rem 1rem 1rem;
            // }

            .links{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 0.7rem;
                margin-right: 0.5rem;
                a{
                    display: inline-block;
                    width: 1.35rem;
                    height: 1.35rem;

                    svg{
                        stroke: $blue;
                    }

                    .linkContent{
                        display: none;
                    }
                }
            }
            
            
        }
    } //End content

} //End project

}
