@import 'variables';
@import 'mixins';
@import 'animation';

*{
    background: none;
    z-index: 1;
}


.up{
    position: fixed;   
    width: max-content;
    height: max-content;
    bottom: 1.3rem;
    right: 0.5rem;
    animation: fade-in 1s ease-in-out forwards;

    @include breakpoint-up (x-small){
        bottom: 1.5rem;
        right: 1rem;
    }
    &:hover{
        transform: scale(1.09);
        transition: transform 450ms ease-in-out;
    }
    .top{
        svg{
            width: 2.5rem;
            padding: 8px;
            border: 1px dashed $blue;
            border-radius: 50%;
            background-color: $light-navy;

            &:hover{
            border: 1px solid $blue;
            background-color: inherit;
            }

            @include breakpoint-down (small){
                width: 2rem;
                border: 1px solid $blue;
                background-color: inherit;
            }
        }
    }    
}
